{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center font-bold">Sign Up</h1>

        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Username Field -->
            <div class="mb-4">
                <label for="id_username" class="block text-grey-darker text-sm font-bold mb-2">Username</label>
                {{ form.username }}
            </div>

            <!-- Email Field -->
            <div class="mb-4">
                <label for="id_email" class="block text-grey-darker text-sm font-bold mb-2">Email</label>
                {{ form.email }}
            </div>

            <!-- Password Fields -->
            <div class="mb-4">
                <label for="id_password1" class="block text-grey-darker text-sm font-bold mb-2">Password</label>
                {{ form.password1 }}
            </div>
            <div class="mb-4">
                <label for="id_password2" class="block text-grey-darker text-sm font-bold mb-2">Repeat Password</label>
                {{ form.password2 }}
            </div>

            <!-- Description Field -->
            <div class="mb-4">
                <label for="id_description" class="block text-grey-darker text-sm font-bold mb-2">Description</label>
                {{ form.description }}
            </div>

            <!-- Profile Picture Field -->


            {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Please correct the following errors:</strong>
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline, w-full">
                Sign Up
            </button>
        </form>
        <div class="mt-4 text-center">
            Already have an account? <a href="{% url 'core:login' %}" class="no-underline text-blue-500">Log in</a>.
        </div>
    </div>
</div>
{% endblock content %}